.abrindo11012-container {
  min-height: 100vh;
}
.abrindo11012-abrindo11012 {
  width: 360px;
  height: 800px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 360px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(94, 70, 116, 1);
}
.abrindo11012-text {
  top: 206px;
  left: 97px;
  color: rgba(217, 217, 217, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.abrindo11012-image {
  top: 241px;
  left: 2.999987840652466px;
  width: 355px;
  height: 458px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
