.carrinho1611-container {
  min-height: 100vh;
}
.carrinho1611-carrinho1611 {
  width: 360px;
  height: 900px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 360px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.carrinho1611-group281612 {
  top: 728.8900146484375px;
  left: 0px;
  width: 360px;
  height: 9.745448892317654e-9px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.carrinho1611-svg {
  width: 360;
  height: 1px;
  position: absolute;
}
.carrinho1611-text {
  top: 39.375px;
  left: 22.5px;
  color: rgba(0, 0, 0, 1);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.carrinho1611-group1451615 {
  top: 307px;
  left: 0px;
  width: 360px;
  height: 191.8900146484375px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.carrinho1611-group271616 {
  top: 191.8900146484375px;
  left: 0px;
  width: 360px;
  height: 9.745448892317654e-9px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.carrinho1611-svg1 {
  width: 360;
  height: 1px;
  position: absolute;
}
.carrinho1611-group1471618 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 191.24925231933594px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.carrinho1611-row1619 {
  top: 115px;
  left: 0px;
  width: 360px;
  display: flex;
  padding: 8px 12px;
  position: absolute;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  background-color: var(--dl-color-ink-01a61ca);
}
.carrinho1611-info-i16195973 {
  width: 336px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.carrinho1611-text01 {
  color: var(--dl-color-ink-05black1603e);
  width: 336px;
  height: auto;
  margin: 0 0 4px 0;
  align-self: stretch;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.carrinho1611-text02 {
  color: var(--dl-color-ink-05black1603e);
  width: 336px;
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 300px;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.carrinho1611-svg2 {
  top: 142px;
  left: 309px;
  width: 18;
  height: 21;
  position: absolute;
}
.carrinho1611-image {
  top: 0px;
  left: 130px;
  width: 100px;
  height: 100px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.carrinho1611-group1491622 {
  top: 108px;
  left: 0px;
  width: 360px;
  height: 178px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.carrinho1611-group251623 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 178px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.carrinho1611-row1624 {
  top: 100px;
  left: 0px;
  width: 360px;
  display: flex;
  padding: 8px 12px;
  position: absolute;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  background-color: var(--dl-color-ink-01a61ca);
}
.carrinho1611-info-i16245973 {
  width: 336px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.carrinho1611-text06 {
  color: var(--dl-color-ink-05black1603e);
  width: 336px;
  height: auto;
  margin: 0 0 4px 0;
  align-self: stretch;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.carrinho1611-text07 {
  color: var(--dl-color-ink-05black1603e);
  width: 336px;
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 300px;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.carrinho1611-svg3 {
  top: 178px;
  left: 2.942887306213379px;
  width: 353;
  height: 1px;
  position: absolute;
}
.carrinho1611-image1 {
  top: -1.4210854715202004e-14px;
  left: 104.04438781738281px;
  width: 151px;
  height: 86px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.carrinho1611-svg4 {
  top: 133px;
  left: 309px;
  width: 18;
  height: 21;
  position: absolute;
}
.carrinho1611-group1441628 {
  top: 517px;
  left: 0px;
  width: 360px;
  height: 210.89320373535156px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.carrinho1611-group1481629 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 210.89320373535156px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.carrinho1611-row1630 {
  top: 134px;
  left: 0px;
  width: 360px;
  display: flex;
  padding: 8px 12px;
  position: absolute;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  background-color: var(--dl-color-ink-01a61ca);
}
.carrinho1611-info-i16305973 {
  width: 336px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.carrinho1611-text11 {
  color: var(--dl-color-ink-05black1603e);
  width: 336px;
  height: auto;
  margin: 0 0 4px 0;
  align-self: stretch;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.carrinho1611-text12 {
  color: var(--dl-color-ink-05black1603e);
  width: 336px;
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 300px;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.carrinho1611-image2 {
  top: 0px;
  left: 137px;
  width: 85px;
  height: 126px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.carrinho1611-svg5 {
  top: 163.09677124023438px;
  left: 309px;
  width: 18;
  height: 21;
  position: absolute;
}
.carrinho1611-text16 {
  top: 75px;
  left: 97px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.carrinho1611-group801634 {
  top: 750px;
  left: 0px;
  width: 360px;
  height: 83px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.carrinho1611-navlink {
  display: contents;
}
.carrinho1611-group1391635 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 83px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
  background-color: rgba(248, 75, 75, 1);
}
.carrinho1611-text17 {
  top: 11px;
  left: 91px;
  color: rgba(255, 255, 255, 1);
  width: 178px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: normal;
  text-align: center;
  font-family: Rubik;
  font-weight: 500px;
  line-height: 12px;
  font-stretch: normal;
}
.carrinho1611-group1671639 {
  top: 833px;
  left: 0px;
  width: 360px;
  height: 69px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.carrinho1611-navlink1 {
  display: contents;
}
.carrinho1611-group1601641 {
  top: 10px;
  left: 281px;
  width: 60px;
  height: 41px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
}
.carrinho1611-image3 {
  top: 0px;
  left: 19px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.carrinho1611-group1341644 {
  top: 30px;
  left: 0px;
  width: 60px;
  height: 11px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.carrinho1611-text23 {
  top: 0px;
  left: 0px;
  color: rgba(167, 186, 197, 1);
  width: 60px;
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.carrinho1611-navlink2 {
  display: contents;
}
.carrinho1611-group1351646 {
  top: 11px;
  left: 209px;
  width: 51px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
}
.carrinho1611-svg6 {
  left: 12px;
  width: 26;
  height: 23;
  position: absolute;
}
.carrinho1611-text24 {
  top: 29px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.carrinho1611-navlink3 {
  display: contents;
}
.carrinho1611-group1371649 {
  top: 12px;
  left: 19px;
  width: 91px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
}
.carrinho1611-svg7 {
  left: 33px;
  width: 27;
  height: 23;
  position: absolute;
}
.carrinho1611-text25 {
  top: 29px;
  left: 0px;
  color: rgba(167, 186, 197, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.carrinho1611-group1361652 {
  top: 12px;
  left: 131px;
  width: 57px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.carrinho1611-text26 {
  top: 29px;
  left: 0px;
  color: rgba(167, 186, 197, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.carrinho1611-svg8 {
  left: 14px;
  width: 23;
  height: 23;
  position: absolute;
}
