.medicamentos1302-container {
  min-height: 100vh;
}
.medicamentos1302-medicamentos1302 {
  width: 360px;
  height: 1014px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 360px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.medicamentos1302-wecalm1303 {
  top: 317px;
  left: 0px;
  width: 360px;
  height: 183px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.medicamentos1302-svg {
  top: 183px;
  width: 360;
  height: 1px;
  position: absolute;
}
.medicamentos1302-navlink {
  display: contents;
}
.medicamentos1302-image {
  top: 0px;
  left: 103px;
  width: 154px;
  height: 86px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.medicamentos1302-wecalm-a-z-u-l-a-d-o1306 {
  top: 105px;
  left: 0.29998779296875px;
  width: 360px;
  height: 76.88999938964844px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.medicamentos1302-row1307 {
  top: 0px;
  left: 0px;
  width: 360px;
  display: flex;
  padding: 8px 12px;
  position: absolute;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  background-color: var(--dl-color-ink-01a61ca);
}
.medicamentos1302-info-i13075973 {
  width: 336px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.medicamentos1302-text {
  color: var(--dl-color-ink-05black1603e);
  width: 336px;
  height: auto;
  margin: 0 0 4px 0;
  align-self: stretch;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.medicamentos1302-text01 {
  color: var(--dl-color-ink-05black1603e);
  width: 336px;
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 300px;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.medicamentos1302-image01 {
  top: 26px;
  left: 299.70001220703125px;
  width: 46px;
  height: 19px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.medicamentos1302-synoquin1320 {
  top: 732px;
  left: 0px;
  width: 360px;
  height: 213.00001525878906px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.medicamentos1302-image02 {
  top: 0px;
  left: 107px;
  width: 145px;
  height: 117px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.medicamentos1302-synoquin1322 {
  top: 136.1068115234375px;
  left: 0px;
  width: 360px;
  height: 76.89320373535156px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.medicamentos1302-group261323 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 76.89320373535156px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.medicamentos1302-row1324 {
  top: 0px;
  left: 0px;
  width: 360px;
  display: flex;
  padding: 8px 12px;
  position: absolute;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  background-color: var(--dl-color-ink-01a61ca);
}
.medicamentos1302-info-i13245973 {
  width: 336px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.medicamentos1302-text02 {
  color: var(--dl-color-ink-05black1603e);
  width: 336px;
  height: auto;
  margin: 0 0 4px 0;
  align-self: stretch;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.medicamentos1302-text03 {
  color: var(--dl-color-ink-05black1603e);
  width: 336px;
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 300px;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.medicamentos1302-group901325 {
  top: 26.8931884765625px;
  left: 300px;
  width: 45px;
  height: 19.243167877197266px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.medicamentos1302-image03 {
  top: 0px;
  left: 25px;
  width: 20px;
  height: 19px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.medicamentos1302-image04 {
  top: 3px;
  left: 6.347136149997823e-10px;
  width: 17px;
  height: 15px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.medicamentos1302-front-line1338 {
  top: 524.2850341796875px;
  left: 0px;
  width: 360px;
  height: 185.71499633789062px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.medicamentos1302-image05 {
  top: 0px;
  left: 104px;
  width: 152px;
  height: 82px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.medicamentos1302-svg01 {
  top: 185.71499633789062px;
  width: 357;
  height: 1px;
  position: absolute;
}
.medicamentos1302-frontline1341 {
  top: 108.46499633789062px;
  left: 0.24749755859375px;
  width: 360px;
  height: 76.88999938964844px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.medicamentos1302-row1342 {
  top: 0px;
  left: 0px;
  width: 360px;
  display: flex;
  padding: 8px 12px;
  position: absolute;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  background-color: var(--dl-color-ink-01a61ca);
}
.medicamentos1302-info-i13425973 {
  width: 336px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.medicamentos1302-text04 {
  color: var(--dl-color-ink-05black1603e);
  width: 336px;
  height: auto;
  margin: 0 0 4px 0;
  align-self: stretch;
  text-align: left;
  line-height: 16px;
  text-decoration: none;
}
.medicamentos1302-text05 {
  color: var(--dl-color-ink-05black1603e);
  width: 336px;
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 300px;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.medicamentos1302-group911343 {
  top: 26.25px;
  left: 299.75250244140625px;
  width: 43px;
  height: 19.243167877197266px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.medicamentos1302-image06 {
  top: 0px;
  left: 23px;
  width: 20px;
  height: 19px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.medicamentos1302-image07 {
  top: 2px;
  left: 6.347136149997823e-10px;
  width: 17px;
  height: 15px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.medicamentos1302-group10000045561356 {
  top: 43px;
  left: 11px;
  width: 337px;
  height: 234px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.medicamentos1302-carrinho1357 {
  top: 64px;
  left: 256px;
  width: 81px;
  height: 38px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(217, 217, 217, 0.20000000298023224);
}
.medicamentos1302-svg02 {
  top: 5px;
  left: 18px;
  width: 29;
  height: 28;
  position: absolute;
}
.medicamentos1302-text06 {
  top: 4px;
  left: 58px;
  color: rgba(19, 22, 53, 0.5);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.medicamentos1302-grupo-categorias1361 {
  top: 64px;
  left: 0px;
  width: 197px;
  height: 170px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.medicamentos1302-toys1362 {
  top: 88px;
  left: 0px;
  width: 159px;
  height: 38px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(194, 55, 55, 0.3100000023841858);
}
.medicamentos1302-svg03 {
  top: 12px;
  left: 132px;
  width: 14;
  height: 14;
  position: absolute;
}
.medicamentos1302-text07 {
  top: 4px;
  left: 10px;
  color: rgba(19, 22, 53, 0.5);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.medicamentos1302-food1366 {
  top: 44px;
  left: 0px;
  width: 122px;
  height: 38px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(194, 55, 55, 0.3100000023841858);
}
.medicamentos1302-text08 {
  top: 4px;
  left: 10px;
  color: rgba(19, 22, 53, 0.5);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.medicamentos1302-svg04 {
  top: 12px;
  left: 95px;
  width: 14;
  height: 14;
  position: absolute;
}
.medicamentos1302-medicine1370 {
  top: 132px;
  left: 0px;
  width: 197px;
  height: 38px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(91, 194, 55, 0.3100000023841858);
}
.medicamentos1302-text09 {
  top: 4px;
  left: 10px;
  color: rgba(19, 22, 53, 0.5);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.medicamentos1302-svg05 {
  top: 12px;
  left: 171px;
  width: 14;
  height: 14;
  position: absolute;
}
.medicamentos1302-categories1374 {
  top: 0px;
  left: 0px;
  width: 167px;
  height: 38px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(217, 217, 217, 0.20000000298023224);
}
.medicamentos1302-text10 {
  top: 4px;
  left: 12px;
  color: rgba(19, 22, 53, 0.5);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.medicamentos1302-svg06 {
  top: 16px;
  left: 139px;
  width: 17;
  height: 10;
  position: absolute;
}
.medicamentos1302-motordebusca1378 {
  top: 0px;
  left: 139.1199951171875px;
  width: 198px;
  height: 32.946353912353516px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.medicamentos1302-image08 {
  top: 0px;
  left: 0px;
  width: 198px;
  height: 33px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 15.06537914276123px;
  background-color: rgba(217, 217, 217, 1);
}
.medicamentos1302-search1380 {
  top: 10.683485993051633px;
  left: 11.940325946019357px;
  width: 14px;
  height: 13.746176719665527px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.medicamentos1302-image09 {
  top: 0.617355465888977px;
  left: 2.7010905742645264px;
  width: 10px;
  height: 13px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.medicamentos1302-text11 {
  top: 10.081886693295594px;
  left: 32.911426034165316px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 13.182207107543945px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400px;
  line-height: 19.7733097076416px;
  font-stretch: normal;
  text-decoration: none;
}
.medicamentos1302-text12 {
  top: 4px;
  left: 13.5px;
  color: rgba(0, 0, 0, 1);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.medicamentos1302-carrinho1385 {
  top: 945px;
  left: 0px;
  width: 360px;
  height: 69px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.medicamentos1302-navlink1 {
  display: contents;
}
.medicamentos1302-group1601387 {
  top: 10px;
  left: 281px;
  width: 60px;
  height: 41px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
}
.medicamentos1302-image10 {
  top: 0px;
  left: 19px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.medicamentos1302-group1341390 {
  top: 30px;
  left: 0px;
  width: 60px;
  height: 11px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.medicamentos1302-text13 {
  top: 0px;
  left: 0px;
  color: rgba(167, 186, 197, 1);
  width: 60px;
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.medicamentos1302-navlink2 {
  display: contents;
}
.medicamentos1302-group1351392 {
  top: 11px;
  left: 209px;
  width: 51px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
}
.medicamentos1302-svg07 {
  left: 12px;
  width: 26;
  height: 23;
  position: absolute;
}
.medicamentos1302-text14 {
  top: 29px;
  left: 0px;
  color: rgba(167, 186, 197, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.medicamentos1302-navlink3 {
  display: contents;
}
.medicamentos1302-group1371395 {
  top: 12px;
  left: 19px;
  width: 91px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
}
.medicamentos1302-svg08 {
  left: 33px;
  width: 27;
  height: 23;
  position: absolute;
}
.medicamentos1302-text15 {
  top: 29px;
  left: 0px;
  color: rgba(167, 186, 197, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.medicamentos1302-group1361398 {
  top: 12px;
  left: 131px;
  width: 57px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.medicamentos1302-text16 {
  top: 29px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.medicamentos1302-svg09 {
  left: 14px;
  width: 23;
  height: 23;
  position: absolute;
}
