.pet-profile1655-container {
  min-height: 100vh;
}
.pet-profile1655-pet-profile1655 {
  width: 360px;
  height: 900px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 360px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.pet-profile1655-group10000045521656 {
  top: 114px;
  left: 105px;
  width: 151px;
  height: 99px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-image {
  top: 42px;
  left: 53px;
  width: 45px;
  height: 45px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.pet-profile1655-text {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-image01 {
  top: 29px;
  left: 41px;
  width: 70px;
  height: 70px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 113px;
}
.pet-profile1655-text01 {
  top: 35px;
  left: 22.5px;
  color: rgba(0, 0, 0, 1);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-group321661 {
  top: 761px;
  left: 46px;
  width: 267px;
  height: 43.036155700683594px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-navlink {
  display: contents;
}
.pet-profile1655-svg {
  width: 267;
  height: 43;
  position: absolute;
  text-decoration: none;
}
.pet-profile1655-text02 {
  top: 7px;
  left: 82px;
  color: rgba(255, 255, 255, 1);
  width: 103px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-group1741664 {
  top: 78px;
  left: 97px;
  width: 167px;
  height: 20px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-text03 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-image02 {
  top: 0px;
  left: 151px;
  width: 16px;
  height: 16px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.pet-profile1655-group1751667 {
  top: 201px;
  left: 46px;
  width: 267px;
  height: 534px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-text04 {
  top: 478px;
  left: 1px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-group1711669 {
  top: 0px;
  left: 0px;
  width: 267px;
  height: 443px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group271670 {
  top: 200px;
  left: 1px;
  width: 266px;
  height: 59px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group101671 {
  top: 24px;
  left: 0px;
  width: 266px;
  height: 35px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group231672 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 35px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group241673 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 35px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-svg01 {
  width: 266;
  height: 35;
  position: absolute;
}
.pet-profile1655-text05 {
  top: 6px;
  left: 10px;
  color: rgba(0, 0, 0, 0.4000000059604645);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-text06 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 47px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-group1701677 {
  top: 317px;
  left: 0px;
  width: 267px;
  height: 126px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group251678 {
  top: 67px;
  left: 0px;
  width: 266px;
  height: 59px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group101679 {
  top: 21px;
  left: 0px;
  width: 266px;
  height: 38px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group231680 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 38px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-image03 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 38px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.pet-profile1655-text07 {
  top: 6px;
  left: 10px;
  color: rgba(0, 0, 0, 0.4000000059604645);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-text08 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-group281685 {
  top: 0px;
  left: 1px;
  width: 266px;
  height: 59px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group101686 {
  top: 24px;
  left: 0px;
  width: 266px;
  height: 35px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group231687 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 35px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-image04 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 35px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.pet-profile1655-text09 {
  top: 6px;
  left: 10px;
  color: rgba(0, 0, 0, 0.4000000059604645);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-text10 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 47px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-group851692 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 59px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group101693 {
  top: 24px;
  left: 0px;
  width: 266px;
  height: 35px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group231694 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 35px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group241695 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 35px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-svg02 {
  width: 266;
  height: 35;
  position: absolute;
}
.pet-profile1655-text11 {
  top: 10px;
  left: 11px;
  color: rgba(0, 0, 0, 0.4000000059604645);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-text12 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 47px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-group331699 {
  top: 134px;
  left: 1px;
  width: 266px;
  height: 59px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group101700 {
  top: 24px;
  left: 0px;
  width: 266px;
  height: 35px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group231701 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 35px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group241702 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 35px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-svg03 {
  width: 266;
  height: 35;
  position: absolute;
}
.pet-profile1655-text13 {
  top: 7px;
  left: 10px;
  color: rgba(0, 0, 0, 0.4000000059604645);
  width: 128px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-text14 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-group691706 {
  top: 68px;
  left: 1px;
  width: 266px;
  height: 59px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group241707 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 59px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group101708 {
  top: 24px;
  left: 0px;
  width: 266px;
  height: 35px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group231709 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 35px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group241710 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 35px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-svg04 {
  width: 266;
  height: 35;
  position: absolute;
}
.pet-profile1655-text15 {
  top: 7px;
  left: 10px;
  color: rgba(0, 0, 0, 0.4000000059604645);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-text16 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-image05 {
  top: 27px;
  left: 235px;
  width: 30px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.pet-profile1655-group1721715 {
  top: 266px;
  left: 1px;
  width: 266px;
  height: 51px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group101716 {
  top: 13px;
  left: 0px;
  width: 266px;
  height: 38px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group231717 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 38px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-image06 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 38px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.pet-profile1655-text17 {
  top: 6px;
  left: 10px;
  color: rgba(0, 0, 0, 0.4000000059604645);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-text18 {
  top: 0px;
  left: 2px;
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-image07 {
  top: 19px;
  left: 237px;
  width: 26px;
  height: 26px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.pet-profile1655-group1731723 {
  top: 454px;
  left: 0px;
  width: 266px;
  height: 80px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group851724 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 80px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group101725 {
  top: 45px;
  left: 0px;
  width: 266px;
  height: 35px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-group231726 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 35px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-image08 {
  top: 0px;
  left: 0px;
  width: 266px;
  height: 35px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.pet-profile1655-text19 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 68px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-svg05 {
  top: 15px;
  left: 72px;
  width: 65;
  height: 0;
  position: absolute;
}
.pet-profile1655-svg06 {
  top: 5px;
  left: 122px;
  width: 12;
  height: 7;
  position: absolute;
}
.pet-profile1655-group1681732 {
  top: 831px;
  left: 0px;
  width: 360px;
  height: 69px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.pet-profile1655-navlink1 {
  display: contents;
}
.pet-profile1655-group1601734 {
  top: 10px;
  left: 281px;
  width: 60px;
  height: 41px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
}
.pet-profile1655-image09 {
  top: 0px;
  left: 19px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.pet-profile1655-group1341737 {
  top: 30px;
  left: 0px;
  width: 60px;
  height: 11px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-text20 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 60px;
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-navlink2 {
  display: contents;
}
.pet-profile1655-group1351739 {
  top: 11px;
  left: 209px;
  width: 51px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
}
.pet-profile1655-svg07 {
  left: 12px;
  width: 26;
  height: 23;
  position: absolute;
}
.pet-profile1655-text21 {
  top: 29px;
  left: 0px;
  color: rgba(167, 186, 197, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-navlink3 {
  display: contents;
}
.pet-profile1655-group1371742 {
  top: 12px;
  left: 19px;
  width: 91px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
}
.pet-profile1655-svg08 {
  left: 33px;
  width: 27;
  height: 23;
  position: absolute;
}
.pet-profile1655-text22 {
  top: 29px;
  left: 0px;
  color: rgba(167, 186, 197, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-group1361745 {
  top: 12px;
  left: 131px;
  width: 57px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pet-profile1655-text23 {
  top: 29px;
  left: 0px;
  color: rgba(167, 186, 197, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.pet-profile1655-svg09 {
  left: 14px;
  width: 23;
  height: 23;
  position: absolute;
}
