.pos-pagamento178-container {
  min-height: 100vh;
}
.pos-pagamento178-pos-pagamento178 {
  width: 360px;
  height: 800px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 360px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.pos-pagamento178-text {
  top: 35px;
  left: 22.5px;
  color: rgba(0, 0, 0, 1);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pos-pagamento178-text01 {
  top: 124px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  width: 312px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pos-pagamento178-group35181 {
  top: 270px;
  left: 34px;
  width: 293px;
  height: 104px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(217, 217, 217, 0.5);
}
.pos-pagamento178-text05 {
  top: 41px;
  left: 60px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pos-pagamento178-group143184 {
  top: 530px;
  left: 34px;
  width: 293px;
  height: 104px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pos-pagamento178-group33185 {
  top: 0px;
  left: 0px;
  width: 293px;
  height: 104px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(217, 217, 217, 0.5);
}
.pos-pagamento178-text06 {
  top: 37px;
  left: 63px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.pos-pagamento178-image {
  top: 31px;
  left: 9px;
  width: 42px;
  height: 42px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.pos-pagamento178-group142189 {
  top: 400px;
  left: 34px;
  width: 293px;
  height: 104px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pos-pagamento178-navlink {
  display: contents;
}
.pos-pagamento178-group34190 {
  top: 0px;
  left: 0px;
  width: 293px;
  height: 104px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
  background-color: rgba(217, 217, 217, 0.5);
}
.pos-pagamento178-text07 {
  top: 37px;
  left: 43px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
}
.pos-pagamento178-image1 {
  top: 32px;
  left: 3px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.pos-pagamento178-svg {
  top: 305px;
  left: 46px;
  width: 35;
  height: 35;
  position: absolute;
}
.pos-pagamento178-group165195 {
  top: 731px;
  left: 0px;
  width: 360px;
  height: 69px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.pos-pagamento178-navlink1 {
  display: contents;
}
.pos-pagamento178-group160197 {
  top: 10px;
  left: 281px;
  width: 60px;
  height: 41px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
}
.pos-pagamento178-image2 {
  top: 0px;
  left: 19px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.pos-pagamento178-group1341100 {
  top: 30px;
  left: 0px;
  width: 60px;
  height: 11px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pos-pagamento178-text08 {
  top: 0px;
  left: 0px;
  color: rgba(167, 186, 197, 1);
  width: 60px;
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.pos-pagamento178-navlink2 {
  display: contents;
}
.pos-pagamento178-group1351102 {
  top: 11px;
  left: 209px;
  width: 51px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
}
.pos-pagamento178-svg1 {
  left: 12px;
  width: 26;
  height: 23;
  position: absolute;
}
.pos-pagamento178-text09 {
  top: 29px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.pos-pagamento178-navlink3 {
  display: contents;
}
.pos-pagamento178-group1371105 {
  top: 12px;
  left: 19px;
  width: 91px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
}
.pos-pagamento178-svg2 {
  left: 33px;
  width: 27;
  height: 23;
  position: absolute;
}
.pos-pagamento178-text10 {
  top: 29px;
  left: 0px;
  color: rgba(167, 186, 197, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.pos-pagamento178-group1361108 {
  top: 12px;
  left: 131px;
  width: 57px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.pos-pagamento178-text11 {
  top: 29px;
  left: 0px;
  color: rgba(167, 186, 197, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.pos-pagamento178-svg3 {
  left: 14px;
  width: 23;
  height: 23;
  position: absolute;
}
