.sucesso1131-container {
  min-height: 100vh;
}
.sucesso1131-sucesso1131 {
  width: 360px;
  height: 640px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 360px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.sucesso1131-text {
  top: 35px;
  left: 22.5px;
  color: rgba(0, 0, 0, 1);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sucesso1131-text1 {
  top: 139px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  width: 312px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.sucesso1131-navlink {
  display: contents;
}
.sucesso1131-image {
  top: 280px;
  left: 88px;
  width: 184px;
  height: 184px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
