.we-calm1236-container {
  min-height: 100vh;
}
.we-calm1236-we-calm1236 {
  width: 360px;
  height: 1197px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 360px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.we-calm1236-group251237 {
  top: 307px;
  left: 114px;
  width: 152px;
  height: 86.33000183105469px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.we-calm1236-image {
  top: 0px;
  left: 0px;
  width: 152px;
  height: 86px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.we-calm1236-row1239 {
  top: 441px;
  left: 14px;
  width: 334px;
  display: flex;
  padding: 8px 12px;
  position: absolute;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  background-color: var(--dl-color-ink-01a61ca);
}
.we-calm1236-info-i12395973 {
  width: 310px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.we-calm1236-text {
  color: var(--dl-color-ink-05black1603e);
  width: 310px;
  height: auto;
  margin: 0 0 4px 0;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
  text-decoration: none;
}
.we-calm1236-text04 {
  color: var(--dl-color-ink-05black1603e);
  width: 310px;
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Rubik;
  font-weight: 400px;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.we-calm1236-text10 {
  top: 409px;
  left: 136px;
  color: var(--dl-color-ink-05black1603e);
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Rubik;
  font-weight: 500px;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.we-calm1236-texto-de-baixo1241 {
  top: 671px;
  left: 12px;
  width: 336px;
  height: 338px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.we-calm1236-row1242 {
  top: 0px;
  left: 0px;
  width: 336px;
  display: flex;
  padding: 8px 12px;
  position: absolute;
  align-self: stretch;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  border-radius: 8px;
  background-color: var(--dl-color-ink-01a61ca);
}
.we-calm1236-info-i12425973 {
  width: 312px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.we-calm1236-text11 {
  color: var(--dl-color-ink-05black1603e);
  width: 312px;
  height: auto;
  margin: 0 0 4px 0;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
  text-decoration: none;
}
.we-calm1236-text15 {
  color: var(--dl-color-ink-05black1603e);
  width: 312px;
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-family: Rubik;
  font-weight: 400px;
  line-height: 12px;
  font-stretch: normal;
  text-decoration: none;
}
.we-calm1236-text16 {
  top: 9px;
  left: 11.357746124267578px;
  color: var(--dl-color-ink-05black1603e);
  width: 313px;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
  text-decoration: none;
}
.we-calm1236-text20 {
  top: 45px;
  left: 11.357746124267578px;
  color: var(--dl-color-ink-05black1603e);
  width: 313px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-family: Rubik;
  font-weight: 400px;
  line-height: 12px;
  font-stretch: normal;
  text-decoration: none;
}
.we-calm1236-text32 {
  top: 233px;
  left: 11.357746124267578px;
  color: var(--dl-color-ink-05black1603e);
  width: 313px;
  height: auto;
  position: absolute;
  align-self: stretch;
  text-align: center;
  line-height: 16px;
  text-decoration: none;
}
.we-calm1236-text36 {
  top: 269px;
  left: 11.357746124267578px;
  color: var(--dl-color-ink-05black1603e);
  width: 313px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-family: Rubik;
  font-weight: 400px;
  line-height: 12px;
  font-stretch: normal;
  text-decoration: none;
}
.we-calm1236-group1641247 {
  top: 1027px;
  left: 181px;
  width: 180px;
  height: 83px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.we-calm1236-navlink {
  display: contents;
}
.we-calm1236-group1391248 {
  top: 0px;
  left: 0px;
  width: 180px;
  height: 83px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
  background-color: rgba(248, 75, 75, 1);
}
.we-calm1236-text37 {
  top: 17px;
  left: 18.000009536743164px;
  color: rgba(255, 255, 255, 1);
  width: 143px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: normal;
  text-align: center;
  font-family: Rubik;
  font-weight: 500px;
  line-height: 12px;
  font-stretch: normal;
}
.we-calm1236-group1651252 {
  top: 1027px;
  left: 1px;
  width: 180px;
  height: 83px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.we-calm1236-group1391253 {
  top: 0px;
  left: 0px;
  width: 180px;
  height: 83px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(66, 13, 219, 1);
}
.we-calm1236-text43 {
  top: 9px;
  left: 19px;
  color: rgba(255, 255, 255, 1);
  width: 143px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: normal;
  text-align: center;
  font-family: Rubik;
  font-weight: 500px;
  line-height: 12px;
  font-stretch: normal;
  text-decoration: none;
}
.we-calm1236-group1631257 {
  top: 1128px;
  left: 0px;
  width: 360px;
  height: 69px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.we-calm1236-navlink1 {
  display: contents;
}
.we-calm1236-group1601259 {
  top: 10px;
  left: 281px;
  width: 60px;
  height: 41px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
}
.we-calm1236-image1 {
  top: 0px;
  left: 19px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.we-calm1236-group1341262 {
  top: 30px;
  left: 0px;
  width: 60px;
  height: 11px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.we-calm1236-text53 {
  top: 0px;
  left: 0px;
  color: rgba(167, 186, 197, 1);
  width: 60px;
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.we-calm1236-navlink2 {
  display: contents;
}
.we-calm1236-group1351264 {
  top: 11px;
  left: 209px;
  width: 51px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
}
.we-calm1236-svg {
  left: 12px;
  width: 26;
  height: 23;
  position: absolute;
}
.we-calm1236-text54 {
  top: 29px;
  left: 0px;
  color: rgba(167, 186, 197, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.we-calm1236-navlink3 {
  display: contents;
}
.we-calm1236-group1371267 {
  top: 12px;
  left: 19px;
  width: 91px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  text-decoration: none;
}
.we-calm1236-svg1 {
  left: 33px;
  width: 27;
  height: 23;
  position: absolute;
}
.we-calm1236-text55 {
  top: 29px;
  left: 0px;
  color: rgba(167, 186, 197, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.we-calm1236-group1361270 {
  top: 12px;
  left: 131px;
  width: 57px;
  height: 40px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.we-calm1236-text56 {
  top: 29px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 11px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 700px;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.we-calm1236-svg2 {
  left: 14px;
  width: 23;
  height: 23;
  position: absolute;
}
.we-calm1236-group10000045571273 {
  top: 43px;
  left: 11px;
  width: 337px;
  height: 234px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.we-calm1236-carrinho1274 {
  top: 64px;
  left: 256px;
  width: 81px;
  height: 38px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(217, 217, 217, 0.20000000298023224);
}
.we-calm1236-svg3 {
  top: 5px;
  left: 18px;
  width: 29;
  height: 28;
  position: absolute;
}
.we-calm1236-text57 {
  top: 4px;
  left: 58px;
  color: rgba(19, 22, 53, 0.5);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.we-calm1236-grupo-categorias1278 {
  top: 64px;
  left: 0px;
  width: 197px;
  height: 170px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.we-calm1236-toys1279 {
  top: 88px;
  left: 0px;
  width: 159px;
  height: 38px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(194, 55, 55, 0.3100000023841858);
}
.we-calm1236-svg4 {
  top: 12px;
  left: 132px;
  width: 14;
  height: 14;
  position: absolute;
}
.we-calm1236-text58 {
  top: 4px;
  left: 10px;
  color: rgba(19, 22, 53, 0.5);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.we-calm1236-food1283 {
  top: 44px;
  left: 0px;
  width: 122px;
  height: 38px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(194, 55, 55, 0.3100000023841858);
}
.we-calm1236-text59 {
  top: 4px;
  left: 10px;
  color: rgba(19, 22, 53, 0.5);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.we-calm1236-svg5 {
  top: 12px;
  left: 95px;
  width: 14;
  height: 14;
  position: absolute;
}
.we-calm1236-medicine1287 {
  top: 132px;
  left: 0px;
  width: 197px;
  height: 38px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(91, 194, 55, 0.3100000023841858);
}
.we-calm1236-text60 {
  top: 4px;
  left: 10px;
  color: rgba(19, 22, 53, 0.5);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.we-calm1236-svg6 {
  top: 12px;
  left: 171px;
  width: 14;
  height: 14;
  position: absolute;
}
.we-calm1236-categories1291 {
  top: 0px;
  left: 0px;
  width: 167px;
  height: 38px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(217, 217, 217, 0.20000000298023224);
}
.we-calm1236-text61 {
  top: 4px;
  left: 12px;
  color: rgba(19, 22, 53, 0.5);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 300px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.we-calm1236-svg7 {
  top: 16px;
  left: 139px;
  width: 17;
  height: 10;
  position: absolute;
}
.we-calm1236-motordebusca1295 {
  top: 0px;
  left: 139.1199951171875px;
  width: 198px;
  height: 32.946353912353516px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.we-calm1236-image2 {
  top: 0px;
  left: 0px;
  width: 198px;
  height: 33px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 15.06537914276123px;
  background-color: rgba(217, 217, 217, 1);
}
.we-calm1236-search1297 {
  top: 10.683485993051633px;
  left: 11.940325946019357px;
  width: 14px;
  height: 13.746176719665527px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.we-calm1236-image3 {
  top: 0.617355465888977px;
  left: 2.7010905742645264px;
  width: 10px;
  height: 13px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.we-calm1236-text62 {
  top: 10.081886693295594px;
  left: 32.911426034165316px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 13.182207107543945px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Nunito Sans;
  font-weight: 400px;
  line-height: 19.7733097076416px;
  font-stretch: normal;
  text-decoration: none;
}
.we-calm1236-text63 {
  top: 4px;
  left: 13.5px;
  color: rgba(0, 0, 0, 1);
  width: 93px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 479px) {
  .we-calm1236-text16 {
    top: 108px;
    left: 14px;
  }
  .we-calm1236-text20 {
    top: 140px;
    left: 14px;
  }
}
