

h3{
    margin-top:-10% 
 }




button.primary,
    .button.primary {
             background-color: #ffffff;
             color: #1b1f22 !important;
             font-weight: 600;
             width: 100%;
             align-items: center;
    }
   

 


